devdll/**
dist/**
lib/**
temp/**
src/**/*.inject*
src/**/*.scss
src/**/*.sass
src/**/*.less
src/**/*.css
src/**/*.md
src/assets/**
node_modules/**
.vscode/chrome/**
dllbundle.js
src/**/*.bs.js
src/**/*.re
test/**/*.re
tsconfig.json
test/tsconfig.json